:javascript
  $(document).ready(function() {
    $("#jstable").dataTable({
      "bJQueryUI":true,
      "sPaginationType":"full_numbers",
      "bStateSave": true
    });
  });

%h2
  %span グループ

%div.innerContent
  %table#jstable.display{:cellpadding => "0", :cellspacing => "0", :border => "0"}
    %thead
      %tr
        %th グループ名
        %th ユーザー数
        %th
        %th
    %tbody
      - @groups.each do |group|
        %tr
          %td= link_to group.name, group
          %td.center= group.users.size
          - if current_user.role == 0
            %td.center= link_to image_tag('/images/edit_group.png', :align => "center"), edit_group_path(group), :title => "編集"
            %td.center= link_to image_tag('/images/del_group.png', :align => "center"), group, :confirm => 'Are you sure?', :method => :delete, :title => "削除"
          - else
            %td.center
              ー
            %td.center
              ー

%br

- if current_user.role == 0
  = link_to image_tag('/images/add_group.png'), new_group_path, {:title => "新規作成"}
